a {
    font-size:60px;
    height:80px;
    position:relative;
    text-decoration:none;
    text-shadow:0 1px #fff;
    width:80px;
}

.infoButtonWrapper {
    position: fixed;
}

button:focus,
button:visited,
button:active {
    outline: none;
}

.glyphicon-info-sign {
    color: black;
    right: 2vw;
    position: fixed;
    top: 5vh;
}


/*
 * Style for opening page
 */

.openingButtons {
    width: 30vw;
    margin: 0 auto;
    margin-top: 1em;
    padding: 5em;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.4);
}

.openingButton {
    display: block;
    margin: auto;
    border: none;
    background-color: #084FBB;
    color: white;
    border-radius: 7px;
    margin-top: 1em;
    font-size: 2em;
    opacity: 0.8;
}

.startButton:hover,
.enterKeyButton:hover,
.loadButton:hover {
    opacity: 1;
}

/*
 * CSS for the Chess Board
 */

#chess_board {
    display: inline-block;
    margin-left: 1em;
    border:5px solid #333;
}

td {
    background:#fff;
    background:-moz-linear-gradient(top, #fff, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
    box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    height:80px;
    text-align:center;
    vertical-align:middle;
    width:80px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background:#ccc;
    background:-moz-linear-gradient(top, #ccc, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
    box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

span {
    font-size: 30px;
}

.white {
    color: #e5be8e;
}

.selected {
    border: solid 2px #0084D4;
}


/*
 *  For buttons and other features available while playing the game 
 */

.featureDiv {
    margin: 2em 2em;
}

.gameFeatures {
    text-align: center;
    padding: 5em 0;
}

.forfeitButton,
.saveButton,
.chatButton {
    width: 4em;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 2em;
    opacity: 0.5;
}

.forfeitButton {
    background-color: #EF0000;
}

.saveButton {
    background-color: #084FBB;
}

.chatButton {
    background-color: #0000FF;
}

.forfeitButton:hover,
.saveButton:hover,
.chatButton:hover {
    opacity: 1;
}

.chat {
    display: none;
    width: 100%;
    height: 50vh;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.2);
}

.meText {
    color: blue;
    font-size: 12px;
}

.opponentText {
    color: red;
    font-size: 12px;
}

.timer {
    left: 30%;
    zoom: 0.5;
    -moz-transform: scale(0.8)
}

